USE [master]
GO
/****** Object:  Database [Evimiz]    Script Date: 8/8/2019 2:00:35 AM ******/
CREATE DATABASE [Evimiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Evimiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Evimiz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Evimiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Evimiz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Evimiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Evimiz]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[ProductId_Id] [int] NULL,
	[UserId_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[SaledPrice] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[PhotoPath1] [nvarchar](max) NOT NULL,
	[PhotoPath2] [nvarchar](max) NULL,
	[PhotoPath3] [nvarchar](max) NULL,
	[PhotoPath4] [nvarchar](max) NULL,
	[PhotoPath5] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Description] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.SubCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/8/2019 2:00:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Adress] [nvarchar](150) NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Gender] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (1, N'aaa@mail.ru', N'ACJtyakP2+35mmLnGB79SrlGlRs5kmjb/2/0cBbHPxPSxGhga1cvrlCeEvvcnY8y5g==', CAST(N'2019-08-06T12:42:16.960' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (1, N'Bahceci', CAST(N'2019-08-05T21:15:29.507' AS DateTime), NULL, NULL)
INSERT [dbo].[Brands] ([Id], [Name], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (2, N'Arzum', CAST(N'2019-08-06T02:14:15.940' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (1, N'Mebel', N'eladir', CAST(N'2019-08-05T21:14:49.203' AS DateTime), NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (2, N'Bağ', NULL, CAST(N'2019-08-06T01:34:38.267' AS DateTime), NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (3, N'Mətbəx', NULL, CAST(N'2019-08-06T01:34:48.140' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [Name], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (1, N'Qara', CAST(N'2019-08-05T21:15:44.497' AS DateTime), NULL, NULL)
INSERT [dbo].[Colors] ([Id], [Name], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (2, N'Ağ', CAST(N'2019-08-06T02:14:26.560' AS DateTime), NULL, NULL)
INSERT [dbo].[Colors] ([Id], [Name], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (3, N'Qırmızı', CAST(N'2019-08-06T02:14:34.470' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Colors] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [SubCategoryId], [ColorId], [BrandId], [Count], [Price], [SaledPrice], [Description], [CreatedDate], [DeletedDate], [DeletedId], [PhotoPath1], [PhotoPath2], [PhotoPath3], [PhotoPath4], [PhotoPath5]) VALUES (2, N'Minimalist Divan', 2, 1, 1, 20, 1139, NULL, N'<p><strong>&Ouml;l&ccedil;&uuml;lər:&nbsp;120x66x95 sm</strong></p>
', CAST(N'2019-08-06T02:24:32.150' AS DateTime), NULL, NULL, N'2019_08_06_02_24_30439eeb9df5010f4aae652720a32f98a8.png', NULL, NULL, NULL, NULL)
INSERT [dbo].[Products] ([Id], [Name], [SubCategoryId], [ColorId], [BrandId], [Count], [Price], [SaledPrice], [Description], [CreatedDate], [DeletedDate], [DeletedId], [PhotoPath1], [PhotoPath2], [PhotoPath3], [PhotoPath4], [PhotoPath5]) VALUES (3, N'Mini Divan - Sari', 1, 1, 1, 20, 1100, NULL, N'<p><strong>&Ouml;l&ccedil;&uuml;lər:&nbsp;125x80x90 sm</strong></p>
', CAST(N'2019-08-06T02:27:44.703' AS DateTime), NULL, NULL, N'2019_08_06_02_27_44fe19ad4aef11e1dba58e7369c98a4291.png', NULL, NULL, NULL, NULL)
INSERT [dbo].[Products] ([Id], [Name], [SubCategoryId], [ColorId], [BrandId], [Count], [Price], [SaledPrice], [Description], [CreatedDate], [DeletedDate], [DeletedId], [PhotoPath1], [PhotoPath2], [PhotoPath3], [PhotoPath4], [PhotoPath5]) VALUES (4, N'Eleqant Divan', 2, 4, 1, 3, 1200, NULL, NULL, CAST(N'2019-08-06T02:30:37.127' AS DateTime), NULL, NULL, N'2019_08_06_02_30_37608f3870ed389bffb3c2320ac6784c21.png', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[SubCategories] ON 

INSERT [dbo].[SubCategories] ([Id], [Name], [CategoryId], [Description], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (1, N'Kreslolar', 1, N'elacvbn ', CAST(N'2019-08-05T21:15:15.163' AS DateTime), NULL, NULL)
INSERT [dbo].[SubCategories] ([Id], [Name], [CategoryId], [Description], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (2, N'Divan dəstləri', 1, N'eladir', CAST(N'2019-08-06T01:36:48.330' AS DateTime), CAST(N'2019-08-06T12:57:10.543' AS DateTime), NULL)
INSERT [dbo].[SubCategories] ([Id], [Name], [CategoryId], [Description], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (3, N'Jurnal Masaları', 1, NULL, CAST(N'2019-08-06T01:37:10.100' AS DateTime), CAST(N'2019-08-06T12:55:03.063' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SubCategories] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PhoneNumber], [Adress], [Password], [Gender], [CreatedDate], [DeletedDate], [DeletedId]) VALUES (1, N'Leyla Aliyeva', N'aaa@mail.ru', N'09876', NULL, N'ACJtyakP2+35mmLnGB79SrlGlRs5kmjb/2/0cBbHPxPSxGhga1cvrlCeEvvcnY8y5g==', 0, CAST(N'2019-08-06T12:35:47.287' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_ProductId_Id]    Script Date: 8/8/2019 2:00:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId_Id] ON [dbo].[Orders]
(
	[ProductId_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId_Id]    Script Date: 8/8/2019 2:00:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId_Id] ON [dbo].[Orders]
(
	[UserId_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 8/8/2019 2:00:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[Products]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ColorId]    Script Date: 8/8/2019 2:00:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_ColorId] ON [dbo].[Products]
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubCategoryId]    Script Date: 8/8/2019 2:00:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubCategoryId] ON [dbo].[Products]
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 8/8/2019 2:00:35 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[SubCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [PhotoPath1]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductId_Id] FOREIGN KEY([ProductId_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductId_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId_Id] FOREIGN KEY([UserId_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Colors_ColorId] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Colors_ColorId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryId] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryId]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryId]
GO
USE [master]
GO
